&_main
  margin-top: 8px
  position: relative
  .button_submit
    position: absolute 0 auto 0 left
    border none
    padding-top: 12px
    padding-bottom: 12px
    border-bottom-right-radius 0
    border-top-right-radius 0
    margin-bottom: 0
  .input_search
    padding-left: 70px
    padding-right: 30px
  .picto_search-picto
    position: absolute 10px 10px auto auto