&_to-favourites
  float right
  text-transform: none
  fs 12px
  ff $book
  padding: 0
  line-height: 29px
  border-radius: 0
  button-colors($wt,$mc,$wt)
  > .fa
    color $c6
    margin-right: 5px
    fs 16px
    line-height: 29px
  &:hover
    background: $wt
    > .fa
      color red