&__bar
  height 0.25em
  display: block
  width: 100%
  background #e9e8e6
  transition: all 350ms ease-in-cubic;

  &:nth-child(2)
    margin-top: 0.35em
    margin-bottom: 0.35em

&.menu_open

  .button_menu-open__bar
    background $wt
    &:nth-child(1)
      transform translateY(0.7em) rotate(-45deg)
    &:nth-child(2)
      opacity 0
    &:nth-child(3)
      transform translateY(-0.5em) rotate(45deg)