@import "helpers"
@import "/typographic/typographic"

//all pages elements
@import "../blocks/common.blocks/grid/grid"
@import "../blocks/common.blocks/icons/icons"
@import "../blocks/common.blocks/links/links"
@import "../blocks/common.blocks/image/image"
@import "../blocks/common.blocks/spacer/spacer"
@import "../blocks/common.blocks/embed/embed"

//all page components
@import "../blocks/common.blocks/captions/captions"
@import "../blocks/common.blocks/form/form"
@import "../blocks/common.blocks/menu/menu"
@import "../blocks/common.blocks/tabs/tabs"

//page parts
@import "../blocks/common.blocks/page/page"
@import "../blocks/common.blocks/nav/nav"
@import "../blocks/common.blocks/header/header"
@import "../blocks/common.blocks/slider/slider"
@import "../blocks/common.blocks/search/search"
@import "../blocks/common.blocks/sections/sections"
@import "../blocks/common.blocks/articles/articles"
@import "../blocks/common.blocks/patterns/patterns"
@import "../blocks/common.blocks/footer/footer"


//touch elements
@import "../blocks/touch.blocks/buttons/buttons.styl"
@import "../blocks/touch.blocks/menu/menu"

// shop elements
@import "../blocks/common.blocks/models/models"
@import "../blocks/common.blocks/shop-elements/model/model"
@import "../blocks/common.blocks/shop-elements/category/category"
@import "../blocks/common.blocks/shop-elements/cart/cart"


@require 'animate'
