.section
  @import "__title/section__title"
  @import "__tools/section__tools"
  @import "_content/section_content"
  @import "__data/section__data"
  @import "__map/section__map"
  @import "_portfolio/section_portfolio"
/*
  @import "__set/section__set"
  @import "_benefit/section_benefit"
  @import "_payments/section_pyments"
  @import "_subscribe/section_subscribe"
  @import "_equipment/section_equipment"
  @import "_catalog/section_catalog"
  @import "_gallery/section_gallery"
  @import "_serve/section_serve"
@import "_category/section_category"
*/


