&_menu-open
  position: absolute 0.5em 4.5% auto auto
  z-index 110;
  background: #322f3a
  border:none
  size 2.1em
  padding 0
  text-align: center
  border-radius 0px
  display none;
  opacity 0
  transition: all 250ms ease-in-cubic;
  margin-bottom: 0 !important
  +mq-max(md)
    display: block
    opacity 1
    &:before
      display: block
      content ""
      height 4.5em
      width 220px
      background #322f3a
      position: absolute -1em -3em 0 auto
      z-index -1
  +mq-max(md)
    &:before
      height 3.5em
  &:hover, &:focus
    border none
    box-shadow none
    outline none
    & > *
      background $wt
  @import "__bar/button_menu-open__bar"

&.menu_open
  +mq-max(md)
    /*
    background: darken($c1,10%)
    right 300px;
    top 0px    */
