@font-face
  font-family 'DINPro Regular'
  font-path '../fonts/dinpro/DINPro-Regular';
  font-weight normal
  font-style normal

@font-face
  font-family 'DINPro Bold'
  font-path '../fonts/dinpro/DINPro-Bold';
  font-weight normal
  font-style normal

@font-face
  font-family 'DINPro Medium'
  font-path '../fonts/dinpro/DINPro-Medium';
  font-weight normal
  font-style normal

@font-face
  font-family 'DINPro Light'
  font-path '../fonts/dinpro/DINPro-Light';
  font-weight normal
  font-style normal

@font-face
  font-family 'DINPro Black'
  font-path '../fonts/dinpro/DINPro-Black';
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Italic'
  font-path '../fonts/roboto/robotoitalic';
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Light'
  font-path '../fonts/roboto/robotolight';
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Thin'
  font-path '../fonts/roboto/robotothin';
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Medium'
  font-path '../fonts/roboto/robotomedium';
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Condensed'
  font-path '../fonts/roboto/robotocondensed';
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Bold Condensed'
  font-path '../fonts/roboto/robotoboldcondensed';
  font-weight normal
  font-style normal

@font-face
  font-family 'FontAwesome'
  font-path '../fonts/awesome/fontawesome-webfont';
  font-weight normal
  font-style normal

/*
@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2thin'
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2thinitalic'
  font-weight: 100
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2extralight'
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2extralightitalic'
  font-weight: 200
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2light'
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2lightitalic'
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2'
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2italic'
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2medium'
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2mediumitalic'
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2semibold'
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2semibolditalic'
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2bold'
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2bolditalic'
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2extrabold'
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2extrabolditalic'
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2black'
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Exo 2'
  font-path: '../fonts/exo2/exo2blackitalic'
  font-weight: 900
  font-style: italic

*/

@font-face
  font-family: 'Exo 2 ThinCondensed'
  font-path: '../fonts/exo2/exo2thincondensed'
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Exo 2 ExtraLightCondensed'
  font-path: '../fonts/exo2/exo2extralightcondensed'
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Exo 2 LightCondensed'
  font-path: '../fonts/exo2/exo2lightcondensed'
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Exo 2 RegularCondensed'
  font-path: '../fonts/exo2/exo2regularcondensed'
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Exo 2 MediumCondensed'
  font-path: '../fonts/exo2/exo2mediumcondensed'
  font-style: normal
  font-weight: 500

/*@font-face
  font-family: 'Exo 2 Condensed'
  font-path: '../fonts/exo2/exo2semiboldcondensed'
  font-weight: 600
  font-style: normal*/

@font-face
  font-family: 'Exo 2 BoldCondensed'
  font-path: '../fonts/exo2/exo2boldcondensed'
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Exo 2 ExtraBoldCondensed'
  font-path: '../fonts/exo2/exo2extraboldcondensed'
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Exo 2 BlackCondensed'
  font-path: '../fonts/exo2/exo2blackcondensed'
  font-weight: 900
  font-style: normal
  



$book   = 'DINPro Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif
$medium = 'DINPro Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif
$bold   = 'DINPro Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif
$light  = 'DINPro Light', Arial, 'Helvetica Neue', Helvetica, sans-serif
$black  = 'DINPro Black', Arial, 'Helvetica Neue', Helvetica, sans-serif
$thin   = 'Roboto Thin', Arial, 'Helvetica Neue', Helvetica, sans-serif



$extra  = 'Exo 2 ExtraBoldCondensed', Arial, 'Helvetica Neue', Helvetica, sans-serif
$ital  = 'Roboto Italic', Arial, 'Helvetica Neue', Helvetica, sans-serif
$cond = 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif
$condbold = 'Roboto Bold Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif
$awe   = 'FontAwesome'

.fa
  ff:$awe