&__success
  display: none
  h2
    color $wt
    font-size: 2em !important
    margin-top: 2em
    margin-bottom: 1em
    text-align: center
  p
    font-size: 1.2em !important
    color $wt
    text-align: center
    font-family: $light

  h5
    color $wt
    font-size: 1.2em !important
    margin-top: 2em
    text-align: center
    font-family: $medium
    text-transform: none