&__close
  position: absolute 1em 1.2em auto auto
  display: inline-block
  cursor: pointer
  text-decoration: none
  size 1.3em
  background $tr url('../images/template/form__close.svg') no-repeat 50% 50%
  background-size cover


