&_main
  //padding-top: 0.68em
  //padding-bottom: 0.68em
  position absolute 50% 0 auto 0
  transform translateY(-42%)
  padding-left: 4.85%
  padding-right: 4.85%
  +mq-max('sm')
    padding-left: 20px
    padding-right: 20px
    //padding-top: 22px
    //padding-bottom: 22px
  //+mq-max('sm')
  //  padding 15px
  //   > .menu-item
  //    h 40px
  //    lh 40px
  //    display: inline-block
  //    padding: 0 10px
  //    > .link
  //      text-decoration: none
  //      ff $book
  //      cl $wt
  //      font-size: responsive 14px 16px;
  //      font-range: 992px 1280px;
  //      &:hover
  //        cl $c5
  //      &_phone
  //        fs 18px
  //        ff $bold
  //        font-size: responsive 15px 18px;
  //        font-range: 992px 1280px;
  //        +mq-max('md')
  //          fs 18px

  @import "__logo/menu_main__logo"
  @import "__callback/menu_main__callback"

//> .menu-section
//  &:nth-child(1)
//    lost-column: 4/11 3 0 ;
//    text-align: left
//
//    +mq-max('md')
//      lost-column: 5/11 3 0;
//    +mq-max('sm')
//      lost-column: 7/11 3 0;
//
//  &:nth-child(2)
//    lost-column: 4/11 3 0;
//    text-align: right
//    +mq-max('md')
//      lost-column: 1/11 3 0;
//      position: static
//  &:nth-child(3)
//    lost-column: 3/11 3 0;
//    text-align: right
//    +mq-max('md')
//      lost-column: 5/11 3 0;
//    +mq-max('sm')
//      lost-column:3/11 3 0; //> .menu-section
//  &:nth-child(1)
//    lost-column: 4/11 3 0 ;
//    text-align: left
//
//    +mq-max('md')
//      lost-column: 5/11 3 0;
//    +mq-max('sm')
//      lost-column: 7/11 3 0;
//
//  &:nth-child(2)
//    lost-column: 4/11 3 0;
//    text-align: right
//    +mq-max('md')
//      lost-column: 1/11 3 0;
//      position: static
//  &:nth-child(3)
//    lost-column: 3/11 3 0;
//    text-align: right
//    +mq-max('md')
//      lost-column: 5/11 3 0;
//    +mq-max('sm')
//      lost-column:3/11 3 0;