&__logo
  float: left
  img
    height 3em
    width auto


  /*
  span
    font-family $extra
    fs 46px
    color rgba(145,96,55,.8);
    display: block
    text-shadow: rgba(0,0,0,.5) -1px -1px 0,
            rgba(255,255,255,.3) 1px 1px 0;
    +mq-min-max('md','lg')
      font-size: responsive 40px 46px;
      font-range: 992px 1200px;
    +mq-max('md')
      font-size: responsive 40px 66px;
      font-range: 320px 991px;
    +mq-max('ssm')
      display: none
  b
    color: #000
    fs 26px
    display: block
    ff $light
    +mq-min-max('md','lg')
      font-size: responsive 22px 26px;
      font-range: 992px 1200px;
    +mq-max('md')
      font-size: responsive 22px 36px;
      font-range: 320px 991px;
    +mq-max('ssm')
      display: none
  .link_icon_right
    padding-right: 120px
  a
    text-decoration: none  */
