&_single
  lost-utility clearfix
  padding-top: 15px
  padding-bottom: 15px
  font-size: responsive 16px 22px;
  font-range: 320px 180px;

  h1
    margin-top: 0
    color #495057
    font-family $black
    font-size: responsive 28px 48px;
    font-range: 320px 1180px;
    font-weight 900
    lh 1.1
    margin-bottom: 35px
    text-transform: none
    border-bottom: 1px solid #e0e0e0
    padding-bottom: 15px