.headline
  position: relative
  h 785px
  background $tr url($ipath 'romb.png') 50% 50% no-repeat
  //background-size contain
  +mq-max('md')
    height: 640px
    background-size 485px 485px
  +mq-max('sm')
    height: 380px
    background-size 292px 292px
  @import "__title/headline__title"
  @import "__description/headline__description"
  @import "__content/headline__content"
  @import "__arrow/headline__arrow"

/* WP TODO Woocommerce Pools crutch:  romb
   ========================================================================== */
body
  &.woocommerce.pools
    .headline
      background $tr url($ipath 'romb2.png') 50% 50% no-repeat
      +mq-max('md')
        height: 640px
        background-size 485px 485px
      +mq-max('sm')
        height: 380px
        background-size 292px 292px
      .headline__title
          font-family: $condbold;
          color: #495057;
          font-size: responsive 70px 140px;
          font-range: 320px 1180px;
          margin-bottom: 0
          line-height: 1.3
          letter-spacing 0.1em
body[class*="term-"], body.single-product
      .headline
        background $tr!important
        height 220px!important
        +mq-max('sm')
          height 50px !important