&__bay
  padding-top: 0 !important
  > .button_add
    padding-top: 0px
    padding-bottom: 0px
    line-height: 30px
    vertical-align: middle
    margin-bottom: 0
    +mq-max('sm')
      padding-right: 10px
    > .picto
      margin-right: 5px
      position: relative
      top 5px
