&_catalog
  padding-top: 40px
  .category_mp
    .category__title
      color #252525
      font-family $book
      font-size 16px
      text-decoration underline
      margin-top: 0
      margin-bottom: 0px
      text-transform: none
      letter-spacing normal
      line-height: 1.2
