.header-page
  //min-height: 130px;
  display: none
  max-height 110px
  height 5.5em
  position fixed 0 0 auto 0
  z-index 100

  //
  //
  //+mq-max('sm')
  //  height 80px

  &.slideInDown
    display: block

  /*
  &:before
    background $tr url($ipath 'deck_bg.png') 50% 0% no-repeat
    position: absolute 0 0 auto 0
    height 309px
    z-index 11
    content ''
    +mq-max('lg')
      background-position: -210px 0
    +mq-max('md')
      background-position: -170px 0

  @import "_info/header-page_info"
  */
  //@import "__headline/header__headline"


