&_basement
  height: 100%;
  .menu-item
    lost-waffle: 1/4 4;
    ul
      margin: 0
      padding: 0
      list-style:none
      li
        margin 0 0 19px 0
        padding: 0
    .link
          ff $cond
          fs 14px
          lh 1
          link-styles($wt, un, #cccccc, false)
    .h6
      text-transform: uppercase
      line-height: 1
      margin-top: 0
      color $c5
      ff $cond
      fw normal

    +mq-max('md')
      lost-waffle:  1/2 2;
