.category
  @import "_mp/category_mp"
.shop-category
  margin-top: 35px
  margin-bottom: 35px
  @import "subcategoryes/subcategories.styl"
  @import "__description/categoty__description"
  @import "__catalog/categoty__catalog"
