&_low-cost
  bg $c3
  border-radius:8px
  display: inline-block
  padding 0px 20px
  line-height: 1.5
  fs 12px
  text-decoration: none
  color $wt
  &:hover
    color: $wt !important
    bg darken($c3,10)