&__loader
  display: none
  position: absolute
  z-index 99
  top 0
  left 0
  right 0
  bottom 0
  background rgba(255, 255, 255, .7) url($ipath 'loader.gif') no-repeat center center
  +mq-max('md')
    +mq-max('md')
      background-size 60px auto