&_alert
  button-colors($wt, $c6, $c6)
  border-width: 2px
  padding 8px 12px
  border-radius 3px
  fs 11px
  ff $bold
  text-transform: uppercase
  &:hover
    background-color: #fff
    border-color: darken($c6,10);
    color darken($c6,10);