&__catalog
  margin-top: 50px
  >.model
      lost-masonry-column: 1/4 20px flex;
      margin-bottom: 30px
    +mq-max('md')
      lost-masonry-column: 1/3 20px flex;
      margin-bottom: 20px
    +mq-max('sm')
      lost-masonry-column: 1/2 20px flex;
      margin-bottom: 10px
    +mq-max('sxs')
      lost-masonry-column: 1/1 30px no-flex;
      margin-bottom: 30px
