&_action
    position: absolute 0 0 0 0
    overflow hidden
    transition: all 250ms ease-in-cubic;
    &_single
      position: relative
      margin-bottom: 50px
    @import "__name/article_action__name"
    @import "__image/article_action__image"
    @import "__description/article_action__description"
    @import "__price/article_action__price"
    @import "__more/article_action__more"