&_download
  background: $c2
  color $wt
  font-family $black
  font-size 14px
  text-transform uppercase
  border-radius 0
  padding 0 30px
  lh 55px
  &:hover
    background darken($c2,10)
  > svg
    fill $wt
    display: inline-block
    position: relative
    bottom: -5px
    margin-left: 10px
