.slider
  margin-top:2em
  +mq-max-orient('md', portrait)
    margin-top: 3em
  //+mq-max('md')
  //  margin-top:6%
  //+mq-max('sm')
  //  margin-top:2%
  &__title
    padding: 0 0 1.5em 2em
    span
      font-size: 1.4em
      letter-spacing -0.055em
      color $mc
    opacity: 0
    +mq-max-orient('sm', portrait)
      margin-bottom: 2em
      padding-left: 0
      letter-spacing normal
      line-height 1.2
    +mq-max-orient('md', portrait)
      padding-left: 0
      margin-bottom: 2em
    //+mq-max('md')
    //  padding: 0 0 25px
    //  font-size: responsive 20px 26px;
    //  font-range: $breakpoints.sm $breakpoints.md;
    //  letter-spacing -0.02em
    //+mq-max('sm')
    //  padding: 0 0 20px
    //  font-size: responsive 22px 28px;
    //  font-range: $breakpoints.xs $breakpoints.sm;
    //  letter-spacing normal
    //  line-height 1.3

  &__slides
    opacity 0
    height 5em
    overflow-y hidden
    padding: 0 4.5%
    background $tr url($ipath 'dots.png') 50% 0 repeat-y
    //todo  убрать из алиасов bg
    background-size: contain
  &__slide
    padding-left: 1em
    padding-right: 1em
    position: relative
    height 5em
    text-align: center
    line-height 5em
    img.image
      transition: all 250ms ease-in-cubic;
      display: inline-block !important
      vertical-align: middle
      width auto !important
      //height:100%;
      max-height 5em
      -moz-filter:grayscale(100%);
      -webkit-filter:grayscale(100%);
      -o-filter:grayscale(100%);
      -ms-filter:grayscale(100%);

      &:hover
        -moz-filter:grayscale(0%);
        -webkit-filter:grayscale(0%);
        -o-filter:grayscale(0%);
        -ms-filter:grayscale(0%);
  &__left, &__right
    display: block
    size 1.5em
    border solid 2px #6c696d
    transform rotate(-45deg)
  &__left
      border-right-color $tr
      border-bottom-color $tr
  &__right
      border-left-color $tr
      border-top-color $tr
  .owl-nav
    position: absolute 50% 0 auto 0
    height 1px

    .owl-next
      position: absolute 50% -4% auto auto
      margin-top: -0.75em

    .owl-prev
      position: absolute 50%  auto auto -4%
      margin-top: -0.75em
body.index
  .slider
    margin-top: 3em