$ipath = '../images/template/'

/* Base colors
   ========================================================================== */
$tr = rgba(0,0,0,0)
$bl = 000000
$wt = #ffffff
$bc = #f0f0f0
$mc = #322f31
$brd = #dddddd
/* Site colors
   ========================================================================== */
$c1 = #5aa914
$c2 = #5c3207
$c3 = #85b700
$c4 = #c84eee
$c5 = #ffb925
$c6 = #ec4a3d
$c7 = #0735a4

/* Breakpoints
   ========================================================================== */

$breakpoints = {
  xs :  320px,
  sxs :  320px,
  ssm:  460px,
  sm :  768px,
  md :  992px,
  slg:  1100px,
  lg :  1200px
  hd :  1900px
}

/* Font Range
   ========================================================================== */
$lfr = 320px;
$ufr = 1280px;
