/* links color
   ========================================================================== */
$lc1 = #1f1e1e
$lc2 = #0735a4
$lh1 = #252525
$lh2 = #0735a4

/* links decorations
   ========================================================================== */
$ld = underline

a
  outline none
  color $lc1
  text-decoration: $ld
  transition: all 250ms ease-in-sine;
  &:hover
    color $lh1

.link

  outline none
  color $lc1
  text-decoration: $ld
  @import "_icon/link_icon"
  @import "_cursive/link_cursive"
  //@import "_model/link_model"
  //@import "_low-cost/link_low-cost"
  //@import "_categoryes/links_categoryes"
  @import "_phone/link_phone"
  @import "_download/link_download"

  &:hover
    color $lh1
