.button
  cursor pointer
  display inline-block
  text-decoration: none
  line-height: 1
  border-width 1px
  border-style solid
  padding 10px 15px
  transition: all 250ms ease-in-cubic;
  border-radius 5px
  //@import "_add/button_add.styl"
  @import "_callback/button_callback.styl"
  @import "_submit/button_submit"
  //@import "_quick-view/button_quick-view"
  //@import "_alert/button_alert"
  @import "_more/button_more"
  @import "_send/button_send"
  //@import "_download/button_download"
  //@import "_subscribe/button_subscribe"
  //@import "_to-favourites/button_to-favourites"
