&__price
  position: relative
.price

  &__title
    color #545454
    font-size 12px
    display: inline-block
    padding-right: 30%
  &__current
    color #383838
    font-family $bold
    fs 22px
    text-transform uppercase
    padding-right: 10%
    white-space nowrap
  &__old
    color #737373
    font-family $bold
    fs 12px
    text-decoration line-through
    text-transform uppercase