.formbox.form_callback.form__overlay
  form#callbackForm.form.form_popup.form_callback__form-block(action='')
    .form__loader
    a(href="#",data-target-form="form_callback").form__close
    .form__header
      .form__title
        | ДЛЯ ПОЛУЧЕНИЯ КОНСУЛЬТАЦИИ <br> ЗАПОЛНИТЕ ФОРМУ:
    .form__body
      .form__section#formStepFirst

      .form__section#formStepSecond
        .form__group.form__group_first
          label.label.grid__cell.box_size-1-3-2(for="Name") Имя
          input#Name.input.input_text.box_size-2-3-2(name='name', value='', type='text')
        .form__group
          label.label.grid__cell.box_size-1-3-2(for="Phone") Телефон
          input.input.input_text.box_size-2-3-2#Phone(type='text', name='tel', value='')
        .form__group
          label.label.grid__cell.box_size-1-3-2(for="Email") Email
          input.input.input_text.box_size-2-3-2#Email(type='text', name='email' value='')
        .form__group.m_bottom-0.a_center.form__group_secondbtn
          button#callbackFormSubmit.button.button_submit.form__submit(type='submit', data-form-id="callbackForm") Получить консультацию
    .form__footer
      .form__group.form__group_hidden
        input(name='send', value='callback', type='hidden')
        input.input(name='theme', value='Плучить консультацию', type='hidden')