&_more
  button-colors($wt, $c2, $c2)
  border-width: 2px
  padding 8px 12px
  border-radius 3px
  fs 11px
  ff $bold
  text-transform: uppercase
  &:hover
    background-color: #fff
    border-color: darken($c2,10);
    color darken($c2,10);