.footer-page
  margin-top: 0px
  max-height:70px
  height:3em

  opacity 0
  position: fixed auto 0 0 0
  //+mq-max('sm')
  //  position: static
  @import "_info/footer-page_info"
  &__tools
    margin-top: 0
    .tools
      white-space nowrap
      opacity 1 !important
      text-transform: uppercase

    //  fs 0.7em
    //@extends .section__tools

