&_info
  padding-top: 50px
  h1
    color #252525
    font-family $bold
    font-size: responsive 24px 48px;
    font-range: 320px 1180px;
    text-transform: none
    margin 0 0 55px 0
    line-height: 1.2
  mark
    font-style: normal
    background: none
    font-family inherit
    color $c5
    &.light
      color #b8b8b8
  p
    font-size: responsive 14px 20px;
    font-range: 320px 1180px;
  .link_phone
    text-decoration: none
    &:hover
      color $c2
  .link_phone
    text-decoration: none
    color $c2
    &:hover
      color $lc1