&_callback
  button-colors($wt, #1f1e1e, $wt)
  border: none
  padding 5px 12px
  border-radius 3px
  text-shadow 1.4px 1.4px 0 white
  font-family $book
  font-size 16px
  line-height 19px
  text-decoration underline
  +mq-max('sm')
    &:focus
      background #1f1e1e
