&__image
  position: relative
  height 340px;
  overflow hidden

  +mq-max('md')
    height 350px
  +mq-max('sm')
    height 290px
/*  background-position center center
  background-repeat: no-repeat
  background-attachment fixed
  background-size: cover*/

