&__description
  position:absolute 50px auto auto 40px
  z-index 10
  b
    display: block
    font-size: responsive 30px 46px;
    font-range: 320px 1280px;
    font-family: $black
    color: $c3
    font-weight: normal
    text-transform: uppercase;
    line-height: 1.2;
  i
    display: block
    font-size: responsive 14px 16px;
    font-range: 320px 1280px;
    font-family: $medium
    color: $wt
    font-weight: normal
    line-height: 1.2;
    font-style: normal
    margin-top: 10px
    &_full
      color $bk
      font-family: $book

