&__characteristic
  lost-column: 1/2 2 2vw;
  +mq-min('md')
    lost-move -1/2
  +mq-max(md)
    display: block !important
    width 100% !important
    float: none !important
    margin 0 0 30px 0 !important
    clear fix

@import "property"