&_send
  button-colors(#312e39, $wt, #312e39)
  border-width: 0px
  padding 7px 9px
  border-radius 0px
  fs 20px
  margin 0 0 0 15px
  /*&:hover
    background-color: #fff
    border-color: darken($c3,10);
    color darken($c3,10);*/