&_main
  animation-duration: 1.5s
  font-smoothing: subpixel-antialiased !important;
  backface-visibility: hidden;
  animation-name slideInDown
  position: relative
  max-height 110px
  height 5.2em

  //z-index 12
  //min-height 100px
  background #322f3a
  +mq-max('md')
    height 4.5em
  //+mq-max('sm')
  //  min-height 50px
