
- var paths = {css:'/styles/', js:'/js/', img:'/images/template/', media:'/images/'}

- var meta  = {title:name+' - '+version, desc:name, keyw:name}
-// var meta  = {title:' - ', desc:'1', keyw:'3'}

- var ieScripts = [paths.js+'ie/respond.min.js', paths.js+'ie/html5shiv.min.js']

- var yCounter = '37072475'
