.masonry
  lost-masonry-wrap: no-flex 30px;
  > .mas-1-3-30
    lost-masonry-column: 1/3 30px no-flex;
  > .mas-1-2-0
    lost-masonry-column: 1/2 0px no-flex;
  &_flex
    lost-masonry-wrap: flex 30px;
    > .mas-1-3-30
      lost-masonry-column: 1/3 30px flex;
  &_nopad
    lost-masonry-wrap: no-flex 0px;