&__error
  position: absolute
  left 0
  display: block
  width 100%
  bottom 1.5em
  color: red
  font-size:10px
  line-height: 1
  text-align: center
  +mq-max('md')
    font-size: 1em
    bottom 0.5em
    padding-left: 2em