&__stocks
  top -1px
  height 1px
  position: relative
  padding-top: 0 !important
  padding-bottom: 0 !important
  .stock
    &_novelty
      position: absolute auto auto 0 0
      height: 26px
      lh 26px
      ff $bold
      fs 12px
      padding: 0 15px
      cl $wt
      display: inline-block
      width: auto
      bg $c6
    &_available
      position: absolute auto 0 0 auto
      height: 26px
      lh 26px
      ff $bold
      fs 12px
      padding: 0 15px
      cl $wt
      display: inline-block
      width: auto
      bg $c3