&_download
  display: inline-block
  link-styles($c3, underline, lightness($c3, 10%), true)
  text-shadow 1.4px 1.4px 0 white
  font-family $book
  font-size 16px
  padding-left: 15px
  padding-right: 15px
  > .fa
    margin-right: 5px

